/* 

visibility: hidden;

*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
    max-width: 1440px;
}

form{
    background-color: #1c272b;
    max-width: 25vw;
    margin: 0 auto;
    padding: 2vh 1vw 4vh 1vw;
    display: flex;
    flex-direction: column;
}

.section__buttons__Kopf{
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    
}

.section__buttons__Kopf>a{
    background-color: #51bb70;
    color: white;
    text-decoration: none;
    width: 15vw;
    height: 8vh;
    text-align: center;
    padding-top: 2.5vh;
    
}



.section__buttons__Kopf>a:nth-of-type(1){
    border-right: 
    2px solid white;
}